@model CreateTopicViewModel

@section title {
<title>Create topic</title>
}
@section scripts {
<script src="~/js/topic/create.js" defer></script>
}
@section styles {
<link rel="stylesheet" href="~/css/topic/create.css" />
}

@section body {
<form method="post" asp-controller="Topic" asp-action="CreateTopic">
    <div class="topic-create">
        <div class="topic-name">
            <div class="topic-name-description">
                Name
            </div>
            <div class="topic-name-show">
                <input class="topic-name-show-input" id="Name" name="Name" type="text" required />
            </div>
        </div>
        <div class="topic-description">
            <div class="topic-description-description">
                Description
            </div>
            <div class="topic-description-show">
                <textarea name="Description" class="topic-description-show-textarea"></textarea>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <button>Create topic</button>
    </div>
</form>
}