@model CreatePostViewModel

@section title {
<title>Create new post</title>
}
@section scripts {
<script src="~/js/post/create.js" defer></script>
}
@section styles {
<link rel="stylesheet" href="~/css/post/create.css" />
}

@section body {
<form method="post" asp-controller="Post" asp-action="CreatePost">
    <div class="post-create">
        <div class="post-description">
            <input type="hidden" name="Model.TopicId" value="@Model.TopicId" />
            <div class="post-description-description">
                Description
            </div>
            <div class="post-description-show">
                <textarea name="Model.Description" class="post-description-show-textarea" required></textarea>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <button>Create post</button>
    </div>
</form>
}