@model EditPostViewModel

@section title {
<title>Edit post</title>
}
@section scripts {
<script src="~/js/post/edit.js" defer></script>
}
@section styles {
<link rel="stylesheet" href="~/css/post/edit.css" />
}

@section body {
<form method="post" asp-controller="Post" asp-action="EditPost">
    < class="post-edit">
        <div class="post-before">
            <div class="post-before-description">
                Description
            </div>
            <div class="post-before-show">
                <textarea class="post-before-show-textarea" readonly>@Model.Post.Description</textarea>
            </div>
        </div>
        <div class="post-after">
            <input type="hidden" name="Model.Post.Id" value="@Model.Post.Id" />
            <input type="hidden" name="Model.Post.TopicId" value="@Model.Post.TopicId" />
            <div class="post-after-description">
                New description
            </div>
            <div class="post-after-show">
                <textarea name="Model.Post.Description" class="post-after-show-textarea"></textarea>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <button>Edit post</button>
    </div>
</form>
}