.topic-head {
	display: flex;
	width: 100%;
}

.topic-head div {
	padding: 5px;
	margin: 2px;
	background-color: #2C2C2C;
	font-weight: bold;
}

.topic-head .topic-description {
	flex: 70%;
	height: 30px;
}

.topic-head .topic-post-count {
	flex: 15%;
}

.topic-head .topic-last-update {
	flex: 15%;
}

.post-row {
	display: flex;
	width: 100%;
	height: 100px;
}

.post-info {
	display: flex;
	flex: 25%;
	padding: 5px;
	margin: 2px;
	background-color: #131415;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.post-body {
	display: flex;
	flex: 75%;
	padding: 5px;
	margin: 2px;
	background-color: #131415;
	flex-wrap: wrap;
	align-content: space-between;
}

.post-info .user-email,
.post-info .user-name,
.post-info .user-created {
	padding: 5px;
	margin: 2px;
	height: auto;
}

.post-body .post-description {
	width: 100%;
	display: flex;
}

.post-body .edit-post {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.post-body .post-description,
.post-body .edit-post {
	padding: 5px;
	margin: 2px;
	height: auto;
}

.create-post {
	display: flex;
	width: 120px;
	height: 30px;
	padding: 5px;
	margin: 2px;
	background-color: #131415;
}