@section title {
    <title>Home</title>
}
@section scripts {
    <script src="~/js/home/index.js" defer></script>
}
@section styles {
    <link rel="stylesheet" href="~/css/home/index.css" />
}


@section body {
<div class="welcome">
<p>
	Hello.<br />
	This site is test task for GeeksForLess<br>
	<hr>
</p>
</div>
}